<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019217448963-nfi95sv0etr14avjb792d0uv5hjm3sdd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019217448963-nfi95sv0etr14avjb792d0uv5hjm3sdd</string>
	<key>API_KEY</key>
	<string>AIzaSyD-DJx8mwyqFzuExCXcdcYoE-84JqM6dbs</string>
	<key>GCM_SENDER_ID</key>
	<string>1019217448963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.integritybrewing.kegtracker.kegTracker</string>
	<key>PROJECT_ID</key>
	<string>keg-tracker-integrity-brewing</string>
	<key>STORAGE_BUCKET</key>
	<string>keg-tracker-integrity-brewing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019217448963:ios:31050119f57bfcb0b2fe36</string>
</dict>
</plist>